<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minicalgary.gtfsdatafrontendservice.Mappers.RouteMapper">

    <select id="getBusesInfoByID" resultType="com.minicalgary.gtfsdatafrontendservice.Entities.Route">
        SELECT trip.trip_id, trip.direction, route.route_id, route.route_short_name, route.route_long_name
        FROM trip
        JOIN route ON route.route_id = trip.route_id
        WHERE trip.trip_id = #{tripID}
    </select>
</mapper>